<h1>Editing Driver Checkin</h1>

<%= render 'form', driver_checkin: @driver_checkin %>

<%= link_to 'Show', driver_user_driver_checkin_path(@driver, @driver_checkin) %> |
<%= link_to 'Back', driver_user_driver_checkin_path %> 
