<div class="col-sm-12 col-sm-offset-0 shadow animated">
  <div class="well">
    <label>four columns</label> 
    <div class="row">
      <div class="col-sm-3">
        <div class="form-group input-group">
          <span class="input-group-addon">||</span>
          INPUT GOES HERE
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group input-group">
          <span class="input-group-addon">||</span>
          INPUT GOES HERE
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group input-group">
          <span class="input-group-addon">||</span>
          INPUT GOES HERE
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group input-group">
          <span class="input-group-addon">||</span>
          INPUT GOES HERE
        </div>
      </div>
    </div>
    <label>three columns</label> 
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group input-group">
          <span class="input-group-addon">||</span>
          INPUT GOES HERE
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group input-group">
          <span class="input-group-addon"><i class="fa fa-eur"></i></span>
          
          Font Awesome
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group input-group">
          <span class="input-group-addon">$</span>
          custom stuff
          <span class="input-group-addon">.00</span>
        </div>
      </div>
    </div>
    <label>two columns</label> 
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group input-group">
          <span class="input-group-addon">||</span>
          INPUT GOES HERE
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group input-group">
          <span class="input-group-addon"><i class="fa fa-eur"></i>
          </span>
          Font Awesome
        </div>
      </div>
    </div>
  </div>
</div>

==================================================================================
<div class="col-sm-10 col-sm-offset-1 shadow">
  <div class="well">
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group input-group">  
          <span class="input-group-addon">|</span>
          <%= f.input :address_type, label: false, collection: ApplicationRecord::AddressType, label: false, placeholder: "Origin/Destination" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group input-group">
          <span class="input-group-addon">|</span>
          ==========
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group input-group">
          <span class="input-group-addon"><i class="fa fa-eur"></i>
          </span>
                    ==========
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group input-group">
          <span class="input-group-addon"><i class="fa fa-eur"></i>
          </span>
                  ==========
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group input-group">
          <span class="input-group-addon"><i class="fa fa-eur"></i>
          </span>
          ==========
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group input-group">
          <span class="input-group-addon"><i class="fa fa-eur"></i>
          </span>
           ==========
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group input-group">
          <span class="input-group-addon">|</span>
          ==========
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group input-group">
          <span class="input-group-addon"><i class="fa fa-eur"></i>
          </span>
          ==========
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group input-group">
          <span class="input-group-addon"><i class="fa fa-eur"></i>
          </span>
            ==========
        </div>
      </div>
    </div>



  </div>
</div>

    <%= link_to 'Whatever', "#", class: 'btn btn-hrcprimary btn-xs' %>




        


    


