<div class="conversation">
  Driver <%= conversation.driver_user.full_name %> - <%= conversation.driver_user.cellphone %><br>
  <%= link_to "View Conversation", conversations_text_messages_index_path(conversation)%><br>
  <hr>
</div>