<h1>Editing Driver Statement</h1>

<%= render 'form', driver_statement: @driver_statement %>

<%= link_to 'Show', driver_user_driver_statement_path(@driver, @driver_statement) %> |
<%= link_to 'Back', driver_user_driver_statements_path %>
