<h1>Editing Company</h1>

<%= render 'form', company: @company_profile %>

<%= link_to 'Show', @company_profile, class: "btn btn-hrcprimary btn-xs" %> |
<%= link_to 'Back', company_profiles_path, class: "btn btn-hrcinfo btn-xs" %> 
