<div class="col-lg-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      Basic Tabs
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs">
        <li class="active"><a href="#home" data-toggle="tab">Home</a>
        </li>
        <li><a href="#profile" data-toggle="tab">Profile</a>
        </li>
        <li><a href="#messages" data-toggle="tab">Messages</a>
        </li>
        <li><a href="#settings" data-toggle="tab">Settings</a>
        </li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane fade in active" id="home">
          <h4>Home Tab</h4>
          <%= render "users/partials/hrc_users/my_loads"  %>
        </div>
        <div class="tab-pane fade" id="profile">
          <h4>Profile Tab</h4>
          <p>Lor  um.</p>
        </div>
        <div class="tab-pane fade" id="messages">
          <h4>Messages Tab</h4>
          <p>Lanim id est laborum.</p>
        </div>
        <div class="tab-pane fade" id="settings">
          <h4>Settings Tab</h4>
          <p>Lorim id est laborum.</p>
        </div>
      </div>
    </div>
    <!-- /.panel-body -->
  </div>
  <!-- /.panel -->
</div>