<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We have a logistics solution for you.</h2>
                <hr class="light">
                <p class="text-faded">
                HRC believes meaningful, measurable value isn't just a goal; 
                it's an integral part of our culture. Our dedicated family of 
                employees strives each day to deliver impeccable service and 
                operate as an extension of our customers' enterprises.
                </p>
                <a href="#" class="btn btn-default btn-xl wow tada">Get Started!</a>
            </div>
        </div>
    </div>
</section>




