<header>
    <div class="header-content">
        <div class="header-content-inner">
            <%= bootstrap_flash %>
            <h1>Your Transportation Logistics Company</h1>
            <hr>
            <p>
                HRC Logistics provides safe, reliable transportation solutions to 
                a diverse group of customers throughout the United States.
            </p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>

