<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <%= image_tag "creative/portfolio/truck1.jpg", class: "img-responsive" %>
                    <div class="portfolio-box-caption"> 
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Get A Quote
                            </div>
                            <div class="project-name">
                                We are more than happy to help!
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-sm-6">
                 
                <a href="#" class="portfolio-box">
                    <%= image_tag "creative/portfolio/truck2.jpg", class: "img-responsive" %>
                    <div class="portfolio-box-caption"> 
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Get A Quote
                            </div>
                            <div class="project-name">
                                We are more than happy to help!
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <%= image_tag "creative/portfolio/truck6.jpg", class: "img-responsive" %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Drivers
                            </div>
                            <div class="project-name">
                                Join the HRC Team.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

