.logopad {
  padding-top: 2px; 
}


body {
  padding-bottom: 80px;
  padding-top: 60px;
}


#showhide {
  display: none;
}

.rounded {
  border-radius: 25px; 
-moz-border-radius: 25px; 
-webkit-border-radius: 25px; 
}




