.logopad {
  padding-top: 2px; 
}


body {
  overflow-x: hidden;
  padding-bottom: 80px;
  padding-top: 60px;
}


#showhide {
  display: none;
}

.shadow {
  -webkit-box-shadow: 7px 9px 15px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 7px 9px 15px -6px rgba(0,0,0,0.75);
  box-shadow: 7px 9px 15px -6px rgba(0,0,0,0.75);
}

.round {
  border-radius: 5px;
}

.bring_front {
  position: relative; z-index: 100000;
}

.vertical-text {
	transform: rotate(90deg);
}

.white-smoke {
  background: #e6e6e6;
}

