.pad-top {
    padding-top: 80px;
}

.pad-top-12 {
  padding-top: 12px;  
}

.pad-top-3 {
  padding-top: 3px;  
}


.pad-bottom-12 { 
  padding-bottom: 12px;  
}


// sets height of navbar
// .navbar .nav > li > a {
//   line-height: 40px;
// }



body {
  overflow-x: hidden;
  padding-bottom: 80px;
  padding-top: 120px; 
}


#showhide {
  display: none;
}

.hide {
  display: none;
}

.shadow {
  -webkit-box-shadow: 7px 9px 15px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 7px 9px 15px -6px rgba(0,0,0,0.75);
  box-shadow: 7px 9px 15px -6px rgba(0,0,0,0.75);
}

.round {
  border-radius: 5px;
}

.bring_front {
  position: relative; z-index: 100000;
}

.vertical-text {
	transform: rotate(90deg);
}

.animated {
  background: linear-gradient(270deg, #f5fffc, #e2fff8);
background-size: 400% 400%;

-webkit-animation: AnimationName 6s ease infinite;
-moz-animation: AnimationName 6s ease infinite;
-o-animation: AnimationName 6s ease infinite;
animation: AnimationName 6s ease infinite;

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
}

.text-red {
  color: #ff0039;
}


